* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    font-family: Poppins, sans-serif;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

#header {
    padding: 20px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo h1 {
    font-size: 30px;
    font-weight: 700;
    color: #173A56;
    padding-left: 16px;
}

.header-group {
    display: flex;
    align-items: center;
}

.header-navbar a {
    font-size: 16px;
    font-weight: 600;
    color: #22343D;
    padding: 0 25px;
}

.header-btn-one {
    font-size: 16px;
    font-weight: 600;
    color: #173A56;
    border: 1px solid #BCD0E5;
    padding: 10px 25px;
    background: transparent;
    border-radius: 5px;
}

.header-btn-two {
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #02897A;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 0 24px;
}

.header-btn-three {
    width: 32px;
    height: 32px;
    background: #F3F3F3;
    border-radius: 50%;
    color: #02897A;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clientLogo {
    padding: 100px 0;
}

.clientLogo h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #22343D;
}

.client-logo-general {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

#product {
    padding: 100px 0;
}

#offers {
    background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%);
    padding: 35px 0 45px 0;
}

.offers h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: #22343D;
    width: 537px;
    margin: 0 auto;
    padding-bottom: 63px;
    text-align: center;
}


.offers-general {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.offers-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.offers-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #FFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers-group h3 {
    font-size: 24px;
    color: #000000;
    padding: 27px 0 16px 0;
    font-weight: 500;
}

.offers-group a {
    font-size: 18px;
    padding-bottom: 10px;
    color: #22343D;
    font-weight: 400;
}

.offers-group h6 {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

.offers-image-two {
    background: #F2F6FF;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}