@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}

@media(max-width: 1200px) {

}

@media (max-width: 1024px) {
    .header-group {
        display: none;
    }
    .hero {
        flex-direction: column;
    }
    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
    }
    .makers {
        flex-direction: column-reverse;
    }
    .makers-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }
    .customer {
        flex-direction: column;
    }
    .customer-group {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 20px;
    }
    .customer-group p {
        text-align: center;
    }
    .price-general {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .price-block {
        margin-bottom: 30px;
    }
    .join {
        width: 100%;
    }
    .join-group {
        padding-left: 41px;
    }
    .join img {
        width: 395px;
    }
    .burger-menu {
        display: block;
    }
}

@media(max-width: 992px) {
    .product-general {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .product-block {
        padding-top: 30px;
    }
    .join img {
        width: 365px;
    }
}

@media(max-width: 768px) {
    .process-general {
        flex-direction: column;
    }
    .process-general-two {
        flex-direction: column-reverse;
    }
    .join {
        flex-direction: column;
        height: 100%;
        padding: 40px 0;
        width: 90%;
    }
    .join-group {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact-general {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contact-energy {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 0;
    }
}

@media(max-width: 576px) {
    .hero img {
        width: 90%;
    }
    .product h1 {
        width: 90%;
    }
    .makers img {
        width: 90%;
    }
    .customer img {
        width: 90%;
    }
    .process p {
        width: 90%;
    }
    .contents p {
        width: 90%;
    }
    .join-group h1 { 
        font-size: 30px;
        width: 90%  ;
    }
}

@media (max-width: 450px) {
    .hero-text h1 {
        font-size: 34px;
        width: 90%;
        line-height: 50px;
    }
    .hero-text p {
        width: 90%;
    }
    .product-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .makers-text p {
        width: 90%;
    }
    .makers-text h6 {
        width: 90%;
    }
    .customer-group p {
        width: 90%;
    }
    .customer-icon-general h6 {
        padding-left: 15px;
        width: 315px;
    }
    .customer-icon-general {
        justify-content: center;
    }
    .process h1 {
        font-size: 30px;
    }
    .process-image img {
        width: 92px;
        height: 92px;
    }
    .process-text {
        width: 254px;
        height: 53px;
    }
    .process-text h6 {
        width: 90%;
    }
    .contents h1 {
        font-size: 32px;
    }
    .contact-general {
        flex-direction: column;
        align-items: center;
    }
    .contact-home {
        padding-bottom: 20px;
    }
    .contact-generation {
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
    }
    .contact-legal {
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
    }
    .contact h6 {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .hero-buttons {
        flex-direction: column;
    }
    .hero-buttons a ion-icon {
        padding: 0 8px 0 0;
    }
    .hero-buttons a {
        padding-top: 20px;
    }
    .customer-icon-general h6 {
        padding-top: 20px;
        width: 315px;
        text-align: center;
    }
    .customer-icon-general {
        justify-content: center;
        flex-direction: column;
    }
    .customer-icon-general h6 {
        padding-left: 0;
    }
    .process-image img {
        width: 82px;
        height: 82px;
    }
    .process-text {
        width: 234px;
        height: 53px;
    }
}

@media (max-width: 375px) {
    .customer-group h1 {
        font-size: 30px;
    }
    .customer-icon-general h6 {
        padding-left: 0;
        width: 90%;
    }
    .process-image img {
        width: 76px;
        height: 76px;
    }
    .process-text {
        width: 214px;
        height: 55px;
    }
}

@media (max-width: 320px) {
    .customer-group h1 {
        font-size: 28px;
    }
    .process-text {
        width: 184px;
        height: 55px;
    }
    .process-text h6 {
        font-size: 15px;
    }
    .contents h1 {
        font-size: 32px;
        text-align: center;
    }
    .contents p {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .price-block {
        width: 292px;
        height: 456px;
    }
    .join img {
        width: 90%;
    }
    .contact-made input {
        width: 276px;
    }
}